<header class="p-2 text-dark bg-warning d-flex justify-content-between align-items-center">
    <div>Library Management System</div>
    <div class="small text-muted">Developed by Sarthak</div>
</header>

